.error {
    color: red;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-container {
    display: flex;
    justify-content: center;
}

.box {
    width: calc(300px + 50px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.register-info {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.register-info h2 {
    color: #333;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
