<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Advisor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <style>
        /* Add your custom CSS styles here */
        
    </style>
</head>
<body>
    <header>
        <h1>Trip Advisor</h1>
    </header>

    <nav>
       
        <a href="index.html">Home</a>
        <a href="sampleIteneraries.html">Explore</a>
        <a href="#">Destinations</a>
        <a href="#">Contact</a>
    </nav>

    <section>
        <h2>Welcome to Trip Advisor!</h2>
        <p>
            Plan your perfect trip with the help of millions of traveler reviews and popular destinations.
        </p>
        <p>
            Whether you're looking for a relaxing beach getaway, an adventurous mountain hike, or a cultural city experience, Trip Advisor has got you covered.
        </p>
    </section>

    <footer>
        &copy; 2023 Trip Advisor. All rights reserved.
    </footer>
</body>
</html>